[submodule "Dyr-El"]
	path = Dyr-El
	url = https://github.com/Dyr-El/AdventOfCode2022.git
[submodule "DanielAhlsen"]
	path = DanielAhlsen
	url = https://github.com/DanielAhlsen/AoC-2022
[submodule "BorZa"]
	path = BorZa
	url = https://github.com/borzag/Advent_of_code_2022.git

